ice_and_fire/Logs
ice_and_fire/Library
ice_and_fire/.vs
ice_and_fire/obj
ice_and_fire/Temp
ice_and_fire/.idea
ice_and_fire/Assembly-CSharp.csproj
.idea
ice_and_fire/UserSettings
ice_and_fire/ice_and_fire.sin
ice_and_fire/.vsconfig
ice_and_fire/Paired_prototype.sin